# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=shippix
DB_PASS=password
DB_NAME=shippix_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Kafka
KAFKA_BROKERS=localhost:9092

# JWT
JWT_SECRET=your_jwt_secret

# Service ports
PORT_API_GATEWAY=8080
PORT_SHIPMENT=8081
PORT_TRACKING=8082
PORT_COURIER=8083
PORT_NOTIFICATION=8084
PORT_ROUTE=8085
